
		* { margin: 0; padding: 0; }
		
		body { 
			background: url(../images/blueprints.png) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		
		#page-wrap { position: relative;  background-color: rgba(0,0,0,0.4); width: 400px; height: 100%;margin: 50px auto; padding: 20px; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
		p { color: white; opacity:1.0;font: 15px/2 Georgia, Serif; margin: 0 0 30px 0; text-indent: 0px; }
		
		.clearfix:after {
		  content: "";
		  display: table;
		  visibility: hidden;
		}
		 
		.clearfix:after {
		  clear: both;
		}
		 
		.clearfix {
		  zoom: 1; /* ie 6/7 */
		}
		
		.bt-border { 
					border: 30px solid green;
					
					}
		.bt-change { 
					border-color: transparent;
					transition: border-color 5s ease-in-out;
					}
		
		#sidebutton{ position: fixed; top: 23%; right: 0px; width: 4em;height:8em;
		             background-color: #f33f3d; color: white; 
					 background-position: left 0px;
					 border-top: 2px solid white;
					 border-bottom: 2px solid white;
					 border-left: 2px solid white;
					 border-top-left-radius: 3px;
					 border-bottom-left-radius: 3px;
					 }
		h3 {		  font-family: "open sans",sans-serif;
						font-style: normal;
						font-variant: normal;
						font-weight: 600;
						font-size: 20px;
					  margin-top: 1.3em;
					  -ms-transform:rotate(90deg); /* IE 9 */
					  -moz-transform:rotate(90deg); /* Firefox */
					  -webkit-transform:rotate(90deg); /* Safari and Chrome */
					  -o-transform:rotate(90deg); /* Opera */}
  